<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Iniciar sesi칩n | SHA-TASK</title>

		<link rel="stylesheet" href="{{ full_path() }}/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ full_path() }}/assets/css/shatask-estilos.css">

	</head>

	<body>
		<div class="container d-flex justify-content-center align-items-center min-vh-100">
			<div class="w-100 max-width-400">
				<div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">

					<div class="d-flex flex-center flex-column flex-lg-row-fluid">

						<div class="w-lg-350px custom-box p-5 pb-4">
							<form class="form w-100" id="kt_sign_in_form" method="post" action="{{ full_path() }}/shatask/auth">

								<div class="mb-3">
									<a href="{{ full_path() }}/shatask/login">
										<img src="{{ full_path() }}/images/logo-letra-igual-sha-task-pink.png" class="size-logo max-h-5px" alt="Logo">
									</a>
								</div>

								<div class="mb-2">
									<h1 class="text-dark fw-bold fs-3 text-color-primaryy">Iniciar sesi칩n</h1>
								</div>

								<div class="mb-3 text-start">
									<label for="username" class="form-label">Nombre de usuario</label>
									<input type="text" class="form-control" id="username" name="username" placeholder="Introduce nombre de usuario" required="">
								</div>

								<div class="mb-4 text-start">
									<label for="password" class="form-label">Contrase침a</label>
									<input type="password" class="form-control" id="password" name="password" placeholder="Introduce contrase침a" required="">
								</div>
								<button id="login" type="submit" class="btn btn-outline-primary w-100">Acceder</button>
							</form>
							<div class="text-center mt-3">
								<span>o</span>
								<br>
								<a href="{{ full_path() }}/shatask/create-user" class="text-muted" style="font-size: 0.9rem;">Crear usuario</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="{{ full_path() }}/assets/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
