{% extends '@shatask/layout/layout.twig' %}

{% block content %}
	<div class="container mt-4">
		<div class="row align-items-center mb-5 me-5">
			<div class="col text-start"></div>
			<div class="col text-center">
				<h1 class="mb-0">{{ list.nombre | upper }}</h1>
			</div>
			<div class="col text-end">
				<a type="button" class="btn btn-outline-secondary mt-2" data-bs-toggle="modal" data-bs-target="#createTask" data-list-id="{{ list.ID }}">
					<i class="bi bi-plus-square me-1"></i>
					new task
				</a>
			</div>
		</div>

		<!-- Por hacer -->
		<h6 class="text-muted">Por Hacer</h6>
		<ul class="list-unstyled mb-5">
			{% for tarea in tasks %}
				{% if tarea.estado == 0  %}
					<li class="d-flex align-items-center mb-2" data-tarea-id="{{ tarea.ID }}">
						<input class="complement-checkbox" type="checkbox" name="estado" value="1" id="checkboxNoLabel" aria-label="...">
						<a class="text-decoration-none tarea-color" data-bs-toggle="modal" data-bs-target="#updateModalTask" data-tarea-id="{{ tarea.ID }}" data-tarea-titulo="{{ tarea.titulo }}" data-tarea-descripcion="{{ tarea.descripcion }}" data-tarea-lista-id="{{ tarea.lista_id }}">{{ tarea.titulo }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>

		<!-- Hechas -->
		<h6 class="text-muted">Hechas</h6>
		<ul class="list-unstyled">
			{% set hay_tareas_hechas = false %}
			{% for tarea in tasks %}
				{% if tarea.estado == 1 %}
					<li class="d-flex align-items-center mb-2" data-tarea-id="{{ tarea.ID }}">
						<input class="complement-checkbox" type="checkbox" name="estado" value="1" id="checkboxNoLabel" aria-label="..." checked>
						<a class="text-decoration-none tarea-color" data-bs-toggle="modal" data-bs-target="#updateModalTask" data-tarea-id="{{ tarea.ID }}" data-tarea-titulo="{{ tarea.titulo }}" data-tarea-descripcion="{{ tarea.descripcion }}" data-tarea-lista-id="{{ tarea.lista_id }}">{{ tarea.titulo }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>

{% endblock %}
